{erl_opts, [debug_info]}.
{deps, [
       {cowboy, {git, "git://github.com/ninenines/cowboy.git", {tag, "1.0.3"}}}
       ]}.

%% the plugin itself
{plugins,
 [
  { rebar3_osv, ".*", {git, "file:///home/rickp/src/otolo/rebar3_osv", {branch, "master"}}}
 ]}.

{relx,
 [{release, {cowboy_example, "0.1.0"},
   [cowboy_example, cowboy]}

 , {include_erts, false}
 , {extended_start_script, true}
 , {include_erts, "/usr/local/packages/OTP-18.3.4.4-OSv/usr/lib64/erlang"}
 , {system_libs, "/usr/local/packages/OTP-18.3.4.4-OSv/usr/lib64/erlang"}
]}.
