{erl_opts, [debug_info]}.
{deps, [
       {cowboy, {git, "git://github.com/ninenines/cowboy.git", {tag, "1.0.3"}}}
       ]}.

%% the plugin itself
{plugins,
 [
  { rebar3_osv, ".*", {git, "https://github.com/OtoloNetworks/rebar3_osv", {tag, "OTP-21.0"}}}
 ]}.

{relx,
 [{release, {cowboy_example, "0.1.0"},
   [cowboy_example, cowboy]}

 , {dev_mode, false}
 , {include_src, false}
 , {include_erts, "/usr/local/packages/OTP-OSv"}
 , {system_libs, "/usr/local/packages/OTP-OSv"}
]}.
